<section id="project" class="content-section" style="display: none;">
    <div class="project-flex-col">
        <div class="project-box">
            <h2>Traffic Sign Recognition with Transfer Learning</h2>
            <p>
                I have designed and implemented a traffic sign recognition system leveraging transfer learning, an effective methodology that significantly boosts classification accuracy even with limited datasets. This experience has enabled me to optimize performance and reduce development time for recognition models, delivering robust and reliable AI solutions.<br><br>
                <b>Tech stack:</b> Python, Computer Vision, Deep Learning, Data Augment, Exploratory Data Analysis, Data Visualization, Models Integrated.<br>
                <b>Date:</b> Apr 2025 - present
            </p>
        </div>
        <div class="project-box">
            <h2>Vietnamese Hate Speech Recognition</h2>
            <p>
                Using PhoBERT pre-trained model from VinAIResearch to Fine-tuning to building a model that is able to classify a sentence to one of 3 classes: Clean, Offensive and Hate.<br><br>
                <b>Tech stack:</b> Python, Natural Language Processing, Exploratory Data Analysis, Pytorch, Data Augment.
                <br>
                <b>Date:</b> Feb - Mar 2025
            </p>
        </div>
        <div class="project-box">
            <h2>PM2.5 Analysis and Prediction</h2>
            <p>
                From real data provided by the Environmental Protection Sub-department of Hanoi to making analysis and building regression models that accurately predict PM2.5 levels.<br><br>
                <b>Tech stack:</b> Python, Scikit-learn, Machine Learning Algorithms, Exploratory Data Analysis, Data Processing, Data Visualization
                <br>
                <b>Date:</b> Jan - Feb 2025
            </p>
        </div>
        <div class="project-box">
            <h2>Student Management System with Integrated Facial Recognition Model</h2>
            <p>
                This project aims to revolutionize student management by creating a sophisticated web-based application paired with an advanced AI-powered facial recognition model. The system is designed to streamline class management and automate attendance tracking, offering a comprehensive solution for educational institutions.<br><br>
                <b>Tech stack:</b> Python, Flask, MySQL, Django, JavaScript, HTML/CSS, OpenCV, PyTorch, Pillow, Scikit-learn, Deep Learning, Data Visualization
                <br>
                <b>Date:</b> Oct 2024 - Jan 2025
            </p>
        </div>
    </div>
</section>
